.voffset2    { margin-top: 2px; }
.voffset5    { margin-top: 5px; }
.voffset10   { margin-top: 10px; }
.voffset15   { margin-top: 15px; }
.voffset30   { margin-top: 30px; }
.voffset40   { margin-top: 40px; }
.voffset60   { margin-top: 60px; }
.voffset80   { margin-top: 80px; }
.voffset100  { margin-top: 100px; }
.voffset150  { margin-top: 150px; }

.clear { clear: both; }
.fl-right { float: right; }
.fl-left { float: left; }
.lmarg { margin-left: 5px; }
.rmarg { margin-right: 5px; }

.right-align-textbox
{
	text-align: right;
}

