.voffset2    { margin-top: 2px; }
.voffset5    { margin-top: 5px; }
.voffset10   { margin-top: 10px; }
.voffset15   { margin-top: 15px; }
.voffset30   { margin-top: 30px; }
.voffset40   { margin-top: 40px; }
.voffset60   { margin-top: 60px; }
.voffset80   { margin-top: 80px; }
.voffset100  { margin-top: 100px; }
.voffset150  { margin-top: 150px; }

.clear { clear: both; }
.fl-right { float: right; }
.fl-left { float: left; }
.lmarg { margin-left: 5px; }
.rmarg { margin-right: 5px; }

.right-align-textbox
{
	text-align: right;
}

body {
}

#frame {
	position: relative;
	width: 510px;
	height: 810px;
	margin: 20px auto;
	border-style: solid;
	border-width: 5px;
	border-color: #000;
	border-radius: 10px;
}

#head {
	height: 24px;
	padding: 0px 15px;
	background-color: rgba(0,0,0,0.8);
	color: #EEE;
}

#head .glyphicon {
	font-size: 90%;
	margin-right: 5px;
}

#main {
	padding: 15px;
}

#nav {
	position: absolute;
	bottom: 0;
	height: 75px;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
}

.nav-item {
	padding-top: 7px;
	height: 100%;
	width: 25%;
	border-style: solid;
	border-color: rgba(255,255,255,0.1);
	border-top: 0;
	border-bottom: 0;
	float: left;
	color: #EEE;
	text-align: center;
	vertical-align: bottom;
}

.nav-icon {
	height: 40px;
}

.nav-label {
	margin-top: 2px;
}

#title {
	margin: 30px auto;
	margin-bottom: 50px;
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
}

/* home */

#home #title {
	margin: 50px auto;
	margin-bottom: 100px;
	font-size: 30pt;

}

#home .btn {
	width: 80%;
	margin: 20px 10%;
}

/* gantt */

#chartdiv {
	width: 100%;
	height: 650px;
}

/* experiment */

#experiment {
	width: 100%;
}

#experiment #title {
	margin-bottom: 20px;
}

#experiment .info {
	font-weight: bold;
}

#experiment .butn {
	margin: 10px auto;
	padding: 10px;
}

#experiment button {
	margin: 40px 24%;
}

#desc {
	margin: 5px auto;
	margin-top: 0;
	width: 60%;
	padding: 5px;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	text-align: center;
}

#expl {
	margin-top: 30px;
	margin-left: 20px;
}